// Theme fonts
$Helvetica-Neue-Regular: "Helvetica-Neue-Regular";
$Helvetica-Neue-Light: "Helvetica-Neue-Light";
$Helvetica-Neue-Medium: "Helvetica-Neue-Medium";
$Helvetica-Neue-Bold: "Helvetica-Neue-Bold";
$Helvetica-Neue-Condensed: "Helvetica-Neue-Condensed";
$Helvetica-Neue-Light-Condensed: "Helvetica-Neue-Light-Condensed";

$primaryFont: $Helvetica-Neue-Regular;

// Theme colors
$primaryColor: #292929;
$secondaryColor: #1a95d0;
$tertiaryColor: #ccc;

$primaryFontColor: #fff;

$buttonDisabled: $secondaryColor;
