@font-face {
	font-family: 'Helvetica-Neue-Regular';
	src: url('../fonts/HelveticaNeueLTStd Roman.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica-Neue-Medium';
	src: url('../fonts/HelveticaNeueLTStd Md.otf') format('opentype');
	font-weight: medium;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica-Neue-Light';
	src: url('../fonts/HelveticaNeueLTStd Lt.otf') format('opentype');
	font-weight: light;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica-Neue-Bold';
	src: url('../fonts/HelveticaNeueLTStd Bd.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica-Neue-Condensed';
	src: url('../fonts/HelveticaNeueLTStd Cn.otf') format('opentype');
	font-weight: light;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica-Neue-Light-Condensed';
	src: url('../fonts/HelveticaNeueLTStd LtCn.otf') format('opentype');
	font-weight: light;
	font-style: normal;
	font-stretch: condensed;
}
