html {
	font-size: 10px;
	height: 100%;
	body {
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: $primaryFontColor;
		line-height: 1.2;
		padding: 0;
		font-family: $primaryFont;
		height: 100%;
		article {
			height: 100%;
			color: #fff;
			* {
				box-sizing: border-box;
			}
			p {
				font-size: 1.6rem;
				line-height: 1.2;
				margin-bottom: 1rem;
			}
		}
	}
}
